.app {
  height: 550px;
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: space-between;
}

.headings {
text-align: center;
display: flex;
flex-direction: column;
justify-content: space-between;
}

.brush-selection {
  height: 70px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.paint {
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.palette {
  display: flex;

}

.brush {
  display: flex;
  flex-direction: row;
}

.icon {
  width: 30px;
  height: 30px;
}

.current-brush, .palette-color {
  width: 30px;
  height: 30px;
  border: 1px solid black;

}
.opa{
  display: flex;
  flex-direction: row;
}

.canvas {
  display: grid;
  grid-template-columns:repeat(10, 1fr);
  grid-template-rows:repeat(10, 1fr);
  border: 1px solid black;
  height: 300px;
  width: 300px;
  /* align-items: center; */

}

.square {
  transition: 0.5s;
  display: block;
}

.color-1 {
  background-color: red;

}

.color-2 {
  background-color: blue;
}

.color-3 {
  background-color: yellow;
}

.color-4 {
  background-color: green;
}

.color-5 {
  background-color: white;
}

.color-6 {
  background-color: black;
}

.color-11{
  background-color: blueviolet;
}
.color-21{
  background-color: cyan;
}
.color-31{
  background-color: darkgoldenrod;
}
.color-41{
  background-color: darkseagreen;
}
.color-51{
  background-color: dimgrey;
}
.color-111{
  background-color: gold;
}
.color-211{
  background-color: greenyellow;
}
.color-311{
  background-color: hotpink;
}
.color-411{
  background-color: lightskyblue;
}
.color-511{
  background-color: maroon;
}

.opacity{
  opacity: 1;
}
.opacity1{
  opacity: 0.75;
}
.opacity11{
  opacity: 0.5;
}
.opacity111{
  opacity: 0; 
}